html {
    max-width: 100%;
    
}

body {
    font-family: Helvetica,Verdana,Arial,sans-serif;
    background: white;
}

a {
    text-decoration: none;
    color: black;
    
}
h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    color: grey;
    font-weight: bold;
}
p {
    font-size: 19px;
    font-family: 'Quicksand', sans-serif; 
    text-align: justify;
    letter-spacing: 1px;
    word-spacing: 4px;
}

.free-space {
    width: 100%;
    height: 50px;
    background: rgb(253,253,253);
    background: linear-gradient(180deg, rgba(253,253,253,1) 0%, rgba(238,238,238,1) 82%);
}
.contacts li {
    list-style-type: none;
    font-family: 'Quicksand', sans-serif;  
}

a:hover,
a:focus {
    color: gray;
}

.contacts {
    font-size: 20px;
}  

.contacts a {
    color: black;
}

.phone {
    margin-left: 63%;
    align-self: flex-end;
    list-style: url(../Urob_zmenu/PNGIX.com_phone-icon-png_1233800.png);
    
}

.mail {
    margin-left: 80%;
    margin-top: -25px;
    list-style: url(../Urob_zmenu/PNGIX.com_envelope-icon-png_2167559.png);
       
}

.logo {
    float: left;
    width: 140px;
    margin-top: -70px;
    /*margin-left: 50px;*/
    background: rgb(253,253,253);
    background: linear-gradient(180deg, rgba(253,253,253,1) 0%, rgba(238,238,238,1) 82%);
}

.nav-bar {
    width:auto;
}

.menu-navigation {
    list-style-type: none;
    font-size: 22px;
    float: left;

}

.menu-navigation li {
    display: inline-block;
    max-width: 60%;
    font-family: 'Quicksand', sans-serif;      
}

.social-icon1 {
    width: 120px;
    height: 40px;
    
}

.social-icon2 {
    height: 40px;
    width: 100px;
}

.social-icon3 {
    height: 40px;
    width: 150px;
}

.social-icon4 {
    height: 40px;
    width: 215px;
}
.social-icon5 {
    height: 40px;
    width: 130px;
}
.social-icon6 {
    height: 40px;
    width: 100px;
}

form {
    margin-left: 76%;
}

#text {
    box-sizing: border-box;
    border: 2px solid grey;
    border-radius: 10px;
    padding: 10px;
    width: 220px;
    font-size: 19px;
    margin-top: 5px;
    font-family: 'Quicksand', sans-serif; 
    /*font-style: bold;  */
}   

.btn {
    box-sizing: border-box;
    border-radius: 10px;
    border: 2px solid grey;
    padding: 10px;
    width: 80px;
    font-size: 19px;
    margin-top: 15px;
    background-color: #2997cc;
    color: white;
    font-family: 'Quicksand', sans-serif; 
    font-style: bold;  
}

#cover {
    max-width: 100%;
    height: 670px;
}
.cover1 {
    width: 99%;
    left: 0.5%;
    top: 145px;
    position: absolute;
    opacity: 0.88;
    
}

.text-center {
    font-family: 'Quicksand', sans-serif; 
    opacity: 0.99;
    color: grey;
    max-width: auto;
    font-size: 50px;
    text-align: left;
}

.row {
    margin-top: 50px;
    margin-left: 100px;
    width: 60%;
    height: 100%;
    display: flex;
    box-sizing: border-box;
}

hr {
    padding-left: 20%;
    max-width: 300px;   
    height: 3px;
    opacity: 0.99;
    color: black;
    background-color: grey;
    
}
.hr1 {
    margin-top: -20px;
    margin-left: 8.5%;
    

}

div.main-web {
    margin-left: 2%;
}
.hr2 {
    margin-left: 2%;
    margin-bottom: 40px;
    margin-top: -10px;
    max-width: 70px;
    
}
.heading1 {
    margin-left: 2%;
    
}
div.photos {
    max-width: 900px;
}

.photos {
    margin-left: 2%;
    display: flex;

}
.photos p {
    min-width: 300px;
    max-width: 500px;
    margin-left: 5%;
    text-align: justify;  
}

.hr3 {
    margin-left: 2%;
    margin-bottom: 40px;
    margin-top: -10px;
    max-width: 419px;   
}
.hr4 {
    margin-left: 2%;
    margin-bottom: 40px;
    margin-top: -10px;
    max-width: 98px;   
}
.hr5 {
    margin-left: 2%;
    margin-bottom: 40px;
    margin-top: -10px;
    max-width: 252px;   
}

.footer {
    min-height: 200px;
    background-color: #ddd;
    
}


.down {
    float: left;
    width: 160px;
    margin-top: 20px;
    margin-left: 50px;
    background: #ddd;

}
.footer > p {
    font-size: 22px;

    text-indent: 100px;
    margin-bottom: 20px;
    text-align: center;
    
}

.last {
    text-align:center;
    padding-top: 50px;
}

